<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset=utf-8 /> 
<title>{{title}}</title> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.edit.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/css/main.css" type="text/css"></link>
<link rel="shortcut icon" href="/static/favicon.ico"></link>
</head>
<body>
    <nav>
        <ul>
            <li>dropbox@egd.im</li>
            <li><a href='/logout'>logout</a></li>
        </ul>
    </nav>
    <header>
        <h1>{{title}}</h1>{% if title != "Index" %}<a href='..'>&uarr;</a> {% end %}
    </header>
    <section id="filelist">
        <ul id="files">
        {% for i in dirs %}
            <li class='dir gradient' id='{{ i }}'><a href="/{{ i }}">{{ i[i.rfind('/')+1:] }}</a></li>
        {% end %}
        {% for i in files %}
            <li class='gradient' id='{{ i }}'><a href="/{{ i }}">{{ i[i.rfind('/')+1:] }}</a></li>
        {% end %}
        </ul>
    </section>
</body>
</html>