<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset=utf-8 /> 
<title>{{title}}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.edit.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/css/main.css" type="text/css"></link>
<link rel="shortcut icon" href="/static/favicon.ico"></link>
</head>
<body>
    <header><div id="dir">{% if len(path) >= 0 and title != 'DropBox' %}<a href='/'>DropBox/</a>{% for p in path %}<a href='{{p}}'>{{p[p.rfind('/',0,-1)+1:]}}</a>{% end %}{% end %}</div><h1 id="name" contenteditable="true">{{title}}</h1></header>
    <section id="options"><span id='mono'>Fix</span> | <span id="sizeup">+</span>/<span id='sizedown'>-</span></section>
    <section id="message"></section>
    <section id="editable" contenteditable="true">{{ text }}</section>
</body>
</html>